@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://unpkg.com/swiper/swiper-bundle.min.css');

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria_medium.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria_bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --typography-primary: #2b2b2b;
    --typography-secondary: #8e8e93;
    --typography-white: #fff;
    --typography-red: #b00;
    --typography-tertiary: #ddd;
    --icons-black: #2b2b2b;
    --buttons-default-orange: #f60;
    --buttons-white: #fff;
    --buttons-hover-orange: #d25400;
    --buttons-disabled: #f2f3f5;
    --buttons-outline: #2b2b2b;
    --buttons-hover-white: #f2f3f5;
    --background-blue: #071871;
    --background-white: #fff;
    --background-light-grey: #f8f8f8;
    --elements-blue: #071871;
    --elements-orange: #f60;
    --elements-grey: #bfbfbf;
    --logo-orange: #f60;
    --logo-white: #fff;
    --font-family: "Open Sans", sans-serif;
    --second-family: "Roboto Slab", sans-serif;
    --third-family: "Geometria", sans-serif;
}


.body{
    background: var(--typography-white) !important;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: 1000px;
    padding-top: 120px;
}

.results__location-link{
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    color: var(--typography-primary);
    text-decoration: none;
}
.results__location-link span{
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    color: var(--typography-primary);
}

.results__location-link:hover{
    text-decoration: underline;
}


.results__location{
    margin-bottom: 32px;
}
.results__head{
    display: flex;
    align-items: end;
    gap: 5px;
    margin-top: 32px;
}

.results__title{
    font-family: var(--second-family), sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 135%;
    color: var(--typography-primary);
    margin: 0;
}

.results__subtitle{
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: var(--typography-secondary);
}

.consumables{
    background: var(--background-light-grey);
    padding: 48px 0;
}

.consumables__main-up, .consumables__main-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.consumables__main{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.consumables__main-item{
    background: var(--typography-white);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.consumables__main-title{
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 18px;

    /* line-height: 26px; */
    line-height: 144%;
    color: var(--typography-primary);
}



@media (max-width: 1366px) {
    .consumables__main-up, .consumables__main-down{
        gap: 20px;
    }
}
@media (max-width: 695px) {
    .consumables__main-up, .consumables__main-down{
        justify-content: center;
    }
}